/*<link rel="stylesheet" type="text/css" href="shared/style/buttons.css">*/
/*<link rel="stylesheet" type="text/css" href="shared/style/input_areas.css">*/

html, body {
    width: 100%;
    padding: 1;
    margin: 0;
    background: #C0C0C0;
}

html, body, button {
    font: 12px arial, sans-serif;
}

header {
    background: #000;
    color: #fff;
    height: 3rem;
    position: relative;
    z-index: 3;
}

#main textarea {
        width: 100%;
        min-height: 20%;
}

/*
#main button {
        width: 50px;
        min-height: 30px;
        border: 1px solid #000;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        zoom: 1;
        *display: inline;
}
*/
